<div id="members" class="container text-center padding-top-30 padding-bottom-40">
    <h2 class="header-underline">Our Members</h2>
    {{/*  use "logo-with-levels" template to have members ordered by level  */}}
    <ul class="eclipsefdn-members-list list-inline margin-30 flex-center gap-40" data-ml-wg="openmdm"
        data-ml-template="logo-with-levels"></ul>
    <a href="/members" class="btn btn-primary">More members</a>
</div>
